* {
  box-sizing: border-box;
}

header {
  height: 100vh;
  background-color: #0b013c;
  background-image: url("../img/header-bg.png");
  background-size: auto 100vh;
  background-repeat: no-repeat;
}

.header-wrap {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-left: 243px;
  color: white;
}

.space-center {
  margin-top: 38px;
  width: fit-content;
  border: 3px solid white;
  border-radius: 2px;
}

.space-center-span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  letter-spacing: 0px;
  line-height: 47px;
  margin: 0 11px;
}

h1 {
  margin-top: 160px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 116px;
  letter-spacing: 3px;
  
}

main {
  display: flex;
  margin: 0 auto;
  background-color: #fefaf3;
  justify-content: center;
}



h2 {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  letter-spacing: 0.4px;
  text-align: center;
}

.h3-header {
  font-size: 32px;
  letter-spacing: 0.2px;
  text-align: left;
  margin-top: -55px;
}

h3 {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  letter-spacing: 0px;
  text-align: center;
}

p {
  display: block;
  width: 100%;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.36px;
  line-height: 32px;
  text-align: center;
}

.p-header {
  margin-top: -10px;
  text-align: left;
}

.submit {
  display: flex;
  width: 622px;
  justify-content: space-between;
  margin-top: 25px;
}

input[type=email] {
  width: 462px;
  height: 60px;
  padding: 0 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
  background-color:#ffffff;
}

button[type=submit] {
  width: 144px;
  height: 60px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  align-items: center;
  text-align: center;
  color: #000000;
  background-color:#f8cb8a;
  
}

input[type=submit]:hover {
  background-color:#f6bb66;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
}

.main-top {
  height: 632px;
  margin: 0 auto;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
}

.h3-main-top {
  margin-top: 120px;
}

.h2-main-top {
  line-height: 0px;
  margin: 28px 0 70px 0;
}

.divider {
  display: block;
  width: 125px;
  height: 12px;
  background-color: #f8cb8a;
}

.centered {
  margin: 0 auto;
}

.p-main-top {
  margin: 32px 0;
}

.main-middle {
  margin: 20px 0 20px 0;
  max-width: 1425px;
  height: max-content;
  display: flex;
  background-color: white;
}

.img-section-1 {
  max-width: 950px;
  height: 664px;
  overflow: hidden;
}

.sec-1 {
  height: 100%;
  width: auto;
}

.text-section-1 {
  display: flex;
  flex-direction: column;
  padding: 0 26px;
  width: 475px;
}

.h3-main-middle {
  margin-top: 67px;
  text-align: left;
  line-height: 0;
}

.h2-main-middle {
  margin: 13px 0 36px 0;
  line-height: 66px;
  text-align: left;
}

.p-main-middle {
  margin-top: 39px;
  text-align: left;
  
}

.main-bottom {
  margin: 126px 0 74px 0;
  display: flex;
  max-width: 1425px;
  justify-content: space-between;
  
}

.main-bottom-inside {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  height: 552px;
  background-color: white;
}

.img-section-2-3 {
  max-width: 650px;
  height: 407px;
  overflow: hidden;
}

.sec-2-3 {
  width: 100%;
  height: auto;
  display: inline;
}

.text-section-2-3 {
  margin-top: 33px;
  padding: 0 26px;
  text-align: left;
}

.space-museum {
  display: flex;
  height: 752px;
  background-color: #0b013c;
  background-image: url("../img/space-bg.png");
  
}

.spase-museum-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1030px;
  margin: 0 auto;
  color: white;
}

.h3-museum {
  line-height: 30px;
  margin-top: 165px;
  margin-left: 105px;
}

.h2-museum {
  line-height: 68px;
  margin: -3px 0 34px 105px;
}

.divider-museum {
  margin-left: 505px;
}

.p-museum {
  margin-left: 53px;
  margin-top: 26px;
}

footer {
  height: 714px;
}

.footer-wrapper {
  height: 625px;
  background: url("../img/footer-bg.jpeg");
  background-size: 100%;
  background-position: bottom;
  display: flex;
}

.footer-left {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: fit-content;
  margin-left: 10vw;
  color: white;
}

.h2-footer {
  font-size: 45px;
  text-align: left;
  margin-top: 224px;
  margin-bottom: 14px;
}

.p-footer {
  font-family: Roboto;
  text-align: left;
  line-height: 12px;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 0;
}

.email {
  text-decoration: none;
  color: white;
}

.footer-right {
  margin-top: 130px;
  height: 354px;
  width: 569px;
}

.img-footer {
  height: 100%;
}
